@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
    background-color:#3331bd;
}
.center-col{
    max-width: 1000px;
    margin: auto;
    border: 1px solid #73AD21;
}